<html lang="en-GB">
<head>
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/assets/style.css"/>
</head>
<body>
<header>
    <h1>{{ .PagePath }}</h1>
</header>
<section>
    {{ range $sec := .Sections }}
        <h2>{{ $sec.Name }}</h2>
        <div class="card-view">
            {{ range $car := $sec.Cards }}
                <a href="{{ pathJoin $.BasePath $car.Address }}">
                    <div class="card">
                        <h3>{{ $car.Name }}</h3>
                        {{ if ne $car.Icon "" }}
                            <img src="{{ $car.Icon }}" alt="Missing Icon"/>
                        {{ end }}
                    </div>
                </a>
            {{ end }}
        </div>
    {{ end }}
</section>
</body>
</html>
