body {
    color: rgb(208, 204, 198);
    background-color: rgb(27, 30, 31);
    padding: 0;
    margin: 0;
    font-family: "Roboto Mono", "Lucida Console", "Monaco", monospace;
}

button.rounded-blue {
    background-color: rgb(2, 96, 170);
    color: rgb(232, 230, 227);
    text-decoration-color: currentcolor;
    padding: 10px 24px;
    border-radius: 8px;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: rgba(32, 33, 49, 0.08) 0 0 1px, rgba(78, 85, 88, 0.16) 0 1px 2px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none currentcolor;
    min-width: 100px;
    cursor: pointer;
    height: 36px;
}

header {
    padding: 0 60px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    min-height: 80px;
    max-height: 80px;
    background-color: rgb(24, 26, 27);
    background-image: none;
    border-bottom-color: rgba(140, 130, 115, 0.1);
}

header h1 {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
}

header button.account-btn#loginMenu {
    position: relative;
    padding-left: 44px;
}

header button.account-btn#loginMenu img#loginMenuAvatar {
    position: absolute;
    left: 2px;
    width: 32px;
    top: 2px;
    border-radius: 8px;
}

section {
    max-width: 1800px;
    margin: 0 auto;
    border-color: currentcolor;
    padding: 22px 60px 22px 60px;
    display: block;
}

section h2 {
    color: rgb(156, 148, 135);
    margin: 24px 0 18px 10px;
    font-size: 16px;
    font-weight: 500;
    padding-left: 0;
    text-transform: uppercase;
}

.card-view {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap: 32px;
    max-width: 100%;
}

.card-view[data-card-style=list] {
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

@media only screen and (max-width: 1200px) {
    .card-view[data-card-style] {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media only screen and (max-width: 800px) {
    .card-view[data-card-style] {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media only screen and (max-width: 600px) {
    .card-view[data-card-style] {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

.card-view a.card {
    text-decoration-color: currentcolor;
    text-decoration: none;
    background-color: rgb(24, 26, 27);
    background-image: none;
    color: rgb(232, 230, 227);
    box-shadow: rgba(32, 33, 49, 0.08) 0 0 1px, rgba(78, 85, 88, 0.16) 0 0 2px;
    display: flex;
    flex-flow: column;
    border-radius: 10px;
    transition: box-shadow .1s linear;
    padding: 19px 15px;
    cursor: default;
}

.card-view a.card[href] {
    cursor: pointer;
}

.card-view a.card h3 {
    display: inline;
}

.card-view a.card img {
    color: red;
    font-size: 80%;
}

.card-view a.card .card-header {
    display: flex;
}

button.icon-button {
    position: relative;
    padding-left: 44px;
}

button.icon-button::after {
    position: absolute;
    font-family: 'Material Symbols Outlined', serif;
    -webkit-font-feature-settings: 'liga' 1;
    -moz-font-feature-settings: 'liga' 1;
    font-feature-settings: 'liga' 1;
    font-size: 24px;
    line-height: 36px;
    left: 6px;
    top: 0;
    vertical-align: -50%;
}

.card-view a.card .card-header button.publish-btn {
    margin: auto;
    display: none;
}

.card-view a.card .card-header button.publish-btn::after {
    content: "publish";
}

.card-view a.card .card-header button.publish-btn.is-publishing::after {
    content: "autorenew";
}

.card-view a.card .card-header button.publish-btn.is-published::after {
    content: "done";
}

.card-view a.card .card-header button.publish-btn.is-error::after {
    content: "error";
}

.card-view a.card .card-header button.visit-btn {
    margin: auto;
}

.card-view a.card .card-header button.visit-btn::after {
    content: "open_in_new";
}

.logged-in.can-publish .card-view a.card.card-can-upload .card-header button.publish-btn {
    display: inline;
}
